@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin";
}

body {
    height: 100vh;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #D5FF3F;
}

nav{
    width: 100%;
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
}

nav h2 {
    font-size: 35px;
    font-weight: 500;

}

nav .part2 {
    display: flex;
    gap: 140px;
}

nav .part2 h2 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 30px;
}

.middle{
    padding: 50px 80px;
    display: flex;
    width: 100%;
    /* background: #000; */
    
}

.middle h1{
    font-family: "Inter";
    font-weight: 1000;
    font-size: 250px;
    width: 120px;
    line-height: 200px;
}

.slider {
    display: flex;
    width: 550px;
    height: 130px;
    background: url(https://images.unsplash.com/photo-1726910133626-9b573eca70ff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:center ;
    background-size: cover;
    border-radius: 500px;
    position: relative;
    left: 55vw;
    top: 10px;
    align-items: center;
}

/* .slider::before {
    margin-left: 10px;
    border-radius: 50px;
    content: "";
    display: flex;
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    z-index: 11;
} */

.slider i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 40px;
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 1000;
    color: #D5FF3F;
    background-color: black;
    left: 10px;
}

.middle p {
    font-family: "Roboto";
    left: 15vw;
    top: 27vh;
    line-height: 50px;
    position: relative;
    width: 680px;
    font-size: 35px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.sparkle {
    right: 250px;
    position: absolute;
    display: flex;
    top: 380px;
    gap: 80px;
    opacity: 0.1;
    
}

.sparkle img {
    height: 40px;
}

.bottom {
    padding: 30px 90px;
    height: 100px;
    width: 100vw;
}

.bottom .btn1 {
    display: flex;
    border-radius: 50px;
    width: 450px;
    height: 80px;
    font-size: 35px;
    gap: 20px;
    word-spacing: 5px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.5);
}
.bottom .btn2 {
    display: flex;
    border-radius: 50px;
    width: 450px;
    height: 80px;
    font-size: 35px;
    gap: 20px;
    word-spacing: 5px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.btn1 img {
    height: 40px;
    
}

.bottom {
    display: flex;
    gap: 50px;
}

.bottom::after {
    top: 80%;
    position: relative;
    content: "";
    width: 700px;
    height: 5px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);;
}

.bottom::before{
    position: relative;
    container: "";
    height: 109px;
    width: 109px;
    border-radius: 50px;
    background-color: #000;
    z-index: 100;
}