@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #000;
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    position: absolute;
    height: 70px;
    width: 100%;
    background: rgb(48, 46, 46);
    justify-content: space-between;
}

.logo {
    position: relative;
    width: 40px;
    left: 30px;
    align-self: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.logo i {
    transform: rotate(5deg);
    position: relative;
    font-size: 35px;
    color: aliceblue;
}

.search-home {
    background: white;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background: rgb(83, 83, 83);
}

.home i{
    font-size: 25px;
    color: white;
}

.search input {
    position: relative;
    height: 45px;
    font-size: 20px;
    width: 250px;
    background: #464545;
    padding-left: 5px;
    color: white;
    border: none;
    outline: none;
}

.search input::after {
    z-index: 10000;
    display: flex;
    content: "";
    height: 20px;
    position: absolute;
    color: red;
    width: 20px;
    background-color: rgb(241, 27, 27);
    right: 0;
}

.search i {
    position: relative;
    color: rgb(206, 206, 206);
    justify-content: center;
    font-size: 25px;
    right: 5px;
}

.search {
    align-items: center;
    height: 50px;
    border-radius: 50px;
    display: flex;
    background: #464545;
    width: 310px;
    padding-left: 17px;

}
